In [4]:
import pandas as pd
import numpy as np

%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [27]:
# https://pandas.pydata.org/pandas-docs/stable/dsintro.html
df = pd.read_clipboard()
df

                        Operation         Syntax     Result
0                   Select column        df[col]     Series
1             Select row by label  df.loc[label]     Series
2  Select row by integer location   df.iloc[loc]     Series
3                      Slice rows       df[5:10]  DataFrame
4   Select rows by boolean vector   df[bool_vec]  DataFrame

### Boleean indexing

In [30]:
df[df.Result == 'Series']

                        Operation         Syntax  Result
0                   Select column        df[col]  Series
1             Select row by label  df.loc[label]  Series
2  Select row by integer location   df.iloc[loc]  Series

In [6]:
s = pd.Series(np.random.permutation(10))
s

0    6
1    1
2    3
3    0
4    5
5    9
6    2
7    8
8    7
9    4
dtype: int32

In [7]:
s.sort_values()

3    0
1    1
6    2
2    3
9    4
4    5
0    6
8    7
7    8
5    9
dtype: int32

In [8]:
s.nsmallest(3)

3    0
1    1
6    2
dtype: int32

Duplicate indexes are allowed

In [11]:
ds = pd.Series([1,2,3], index=[1,1,2])

### new column: assign()

In [20]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.head()
df.assign(E = df['A'] + df['B']).head()
df.assign(E = lambda x: df['A'] + df['B']).head()

    A   B   C   D
0  64  81  12  79
1  18  27  62  85
2  86   2  91  36
3  91  18  59  25
4  60  82  68  97

    A   B   C   D    E
0  64  81  12  79  145
1  18  27  62  85   45
2  86   2  91  36   88
3  91  18  59  25  109
4  60  82  68  97  142

    A   B   C   D    E
0  64  81  12  79  145
1  18  27  62  85   45
2  86   2  91  36   88
3  91  18  59  25  109
4  60  82  68  97  142